body{
	background-color: #232323;
	margin: 0;
	font-family: "Nyala"
}
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 1.0s;
}
.container{
	margin: 10px auto;
	max-width: 800px;
}

h1{
	color: white;
	font-weight: normal;
	text-align: center;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding-top: 1%;
	padding-bottom: 1%;
}

/*span{
	color: white;
}*/
#msg{
	display: inline-block;
	width: 20%;
	text-transform: uppercase;
}
#strip{
	background: white;
	height: 25px;
	text-align: center;
}
.selected{
	background : steelblue;
	color: white;
}
#rgb{
	font-size: 200%;
}
button{
	border:none;
	background: none;
	text-transform: uppercase;
	font-family: "Nyala";
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 1.0s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue; 

}